<body>
  <div class="container">
      <div class="nav-scroller py-1 mb-3 mt-1 border-bottom">
        <nav class="nav nav-underline justify-content-between">
          <a class="nav-item nav-link link-body-emphasis <%if(category==="Home"){%>active<%}%>" href="/"
            >Home</a
          >
          <a class="nav-item nav-link link-body-emphasis <%if(category==="World"){%>active<%}%>" href="/api/blogs/category/World"
            >World</a
          >
          <a class="nav-item nav-link link-body-emphasis <%if(category==="Technology"){%>active<%}%>" href="/api/blogs/category/Technology"
            >Technology</a
          >
          <a class="nav-item nav-link link-body-emphasis <%if(category==="Design"){%>active<%}%>" href="/api/blogs/category/Design">Design</a>
          <a class="nav-item nav-link link-body-emphasis <%if(category==="Culture"){%>active<%}%>" href="/api/blogs/category/Culture">Culture</a>
          <a class="nav-item nav-link link-body-emphasis <%if(category==="Business"){%>active<%}%>" href="/api/blogs/category/Business">Business</a>
          <a class="nav-item nav-link link-body-emphasis <%if(category==="Politics"){%>active<%}%>" href="/api/blogs/category/Politics">Politics</a>
          <a class="nav-item link-body-emphasis btn btn-success" href="/api/blogs">Create Blog</a>
        </nav>
      </div>
    </div>